
body {
  background: url("../IMG/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.menu {
  height: 100px;
  background-color: #1F0ACF;
  font-family: Bradley Hand ITC , Bodoni MT Black;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  align-self: center;
  width: 90px;
  height: 90px;
  position: relative;
  top: 0;
  left: 10px;
}
a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.submenu {
  list-style: none;
  height: 35px;
  background-color: #0A64CF;
  flex-basis: 50%;
  font-family: Bodoni MT Black;
  font-size: 18PX;
  color: #EEEEE8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.albun {
  width: 96.5vw;
  height:450px;
  background: url("../IMG/opc_fondo1.jpg");
  animation-name: cambia;
  animation-iteration-count: infinite;
  animation-duration: 29s;
  animation-timing-function: linear;

}

@keyframes cambia{
  0% {
	background: url("../IMG/opc_fondo2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  20% {
	background: url("../IMG/opc_fondo3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  40% {
	background: url("../IMG/opc_fondo4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  60% {
	background: url("../IMG/opc_fondo5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  80% {
	background: url("../IMG/opc_fondo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
  100% {
	background: url("../IMG/opc_fondo3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
}

.article{
  justify-content: center;
}

p{
  text-align: justify;
  font-size: 1.6em;
}

h1 {
  text-align: center;
  color: red;
  font-size: 2em;
}
h2 {
  text-align: center;
  color: red;
  font-size: 1.8em;
  text-decoration: underline;
}

.list {
  text-align: justify;
  margin:.8em 0;
}

.list_padre {
  list-style: none;
  font-size: 1.2em;
}

.img_products {
  width: 20em;
  height: 15em;
  border: 1px gold solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.img_ubic {
  display: flex;
  justify-content: space-between;
  margin: 120px 0 0 0;
  flex-wrap: wrap;
}

img{
  max-width: 100%

}

.estruc {
  flex-basis: 30%;
  margin: 10px
}

.p_imag {
  font-size: 1.2em;
}

.price_red {
  color:red;
  font-size: 1.6em;
  text-align: center;
}
html,body{
  max-width: 100vw !important;
  overflow: hidden;
}

.formu {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.input_label {
  width: 300px;
}

.div_contac{
  border: solid;
  border-radius: 5px;
  border-color: #ccffff;
  padding: 15px;
}

input {
  text-align: center;
}

.div_contac > * {
  margin: 15px;
}



@media screen and (max-width:598px)
{
  h1{
	font-size: 1.2em;
  }
  .submenu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
  }
}